.icon {
    width: 20px;
    height: 20px;
    /* min-width: 20px; */
    mask-image: url("../icons/ICON.svg");
    mask-repeat: no-repeat;
    background-color: #c5ccd5;
    flex-shrink: 0;
}

.icon-default {
    background: url("../icons/ICON.svg") no-repeat;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.icon-item {
    flex-shrink: 0;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon-item:hover {
    background-color: #e5e5e5;
    border-radius: 50%;
}

.icon-logo {
    background-position: -54px -412px;
    width: 52px;
    height: 52px;
    transform: scale(0.6);
}

.icon-menu {
    mask-position: -16px -48px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-color: #7a8188;
}

.icon-search {
    mask-position: -15px -80px;
    width: 18px;
    height: 18px;
}

.icon-recruiment {
    mask-position: -0px -608px;
    width: 20px;
    height: 20px;
    transform: scale(1.2);
    transform-origin: center;
    background-color: #7a8188;
}

.icon-notification {
    mask-position: -2px -634px;
    width: 20px;
    height: 21px;
    background-color: #7a8188;
    margin: 0 4px;

}

.icon-integration {
    mask-position: -291px -411px;
    width: 20px;
    height: 20px;
    background-color: blueviolet;
    transform: scale(1.2);
    border-radius: 4px;
    margin: 0 4px;
}

.icon-invite {
    mask-position: -26px -114px;
    width: 20px;
    height: 20px;
    background-color: #7a8188;
}

.icon-message {
    mask-position: -75px -847px;
    width: 22px;
    height: 20px;
    background-color: #7a8188;
}

.icon-notification-user {
    mask-position: -2px -634px;
    width: 20px;
    height: 21px;
    background-color: #7a8188;
}

.icon-help {
    mask-position: -74px -610px;
    width: 20px;
    height: 20px;
    background-color: #7a8188;
}

.icon-more-menu {
    mask-position: -50px -610px;
    width: 20px;
    height: 20px;
    background-color: #7a8188;
}

.icon-knowledge {
    mask-position: -244px -894px;
    width: 20px;
    height: 20px;
    background-color: orange;
    transform: scale(1.3);
    transform-origin: center;
}

.icon-avatar {
    mask-position: -123px -139px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transform: scale(1.5);
    transform-origin: center;
    background-color: #7a8188;
}

.icon-sb-recruiment {
    mask-position: -98px -114px;
    width: 20px;
    height: 20px;
}

.icon-sb-candidate {
    mask-position: -26px -114px;
    width: 20px;
    height: 20px;
}

.icon-sb-calendar {
    mask-position: -146px -114px;
    width: 20px;
    height: 20px;
}

.icon-sb-talentpool {
    mask-position: -2px -114px;
    width: 20px;
    height: 20px;
}

.icon-sb-recruiment-campaign {
    mask-position: -73px -633px;
    width: 22px;
    height: 22px;
}

.icon-sb-task {
    mask-position: -338px -113px;
    width: 20px;
    height: 20px;
}

.icon-sb-ai-marketing {
    mask-position: -182px -700px;
    width: 16px;
    height: 13px;
    transform: scale(1.3);
    transform-origin: center;
}

.icon-sb-chat-box {
    mask-position: -75px -847px;
    width: 18px;
    height: 18px;
    transform: scale(1.2);
    transform-origin: center;
}

.icon-sb-report {
    mask-position: -73px -114px;
    width: 21px;
    height: 20px;
}

.icon-sb-other {
    mask-position: -362px -624px;
    width: 16px;
    height: 4px;
    background-color: white;
}

.icon-sb-left {
    mask-position: -66px -700px;
    width: 7px;
    height: 12px;
}

.icon-more-option {
    mask-position: -35px -807px;
    width: 13px;
    height: 7px;
    background-color: white;
}

.icon-add-candidate {
    mask-position: -98px -50px;
    width: 13px;
    height: 13px;
    background-color: white;
}

.icon-cd-ai-search {
    background-image: url("../images/ai-search-candidate.svg");
    width: 28px;
    height: 28px;
}

.icon-filter {
    mask-position: -42px -658px;
    width: 16px;
    height: 16px;
    background-color: #7a8188;
}

.icon-export {
    mask-position: -62px -658px;
    width: 16px;
    height: 16px;
    background-color: #7a8188;
}

.icon-interactive-history {
    mask-position: -4px -849px;
    width: 16px;
    height: 16px;
    background-color: #7a8188;
}

.icon-setting-column {
    mask-position: -25px -609px;
    width: 22px;
    height: 22px;
    background-color: #7a8188;
}

.icon-left {
    mask-position: -66px -700px;
    width: 7px;
    height: 12px;
    background-color: #7a8188;
}

.icon-right {
    mask-position: -46px -700px;
    width: 8px;
    height: 12px;
    background-color: #7a8188;
}

.icon-edit {
    mask-position: -182px -658px;
    width: 17px;
    height: 16px;
    background-color: #7a8188;
}

.icon-tick {
    mask-position: -196px -1036px;
    width: 18px;
    height: 13px;
    background-color: #48bb56;
    transform: scale(0.75);
}

.icon-phone {
    mask-position: -192px 0;
    width: 16px;
    height: 16px;
    min-width: 16px;
}

.icon-email {
    mask-position: -260px -656px;
    width: 20px;
    height: 20px;
    min-width: 20px;
    background-color: #7a8188;
}

.icon-location {
    mask-position: -160px -15px;
    width: 16px;
    height: 16px;
    min-width: 16px;
    background-color: #212121;
}

.icon-skype-trans {
    width: 16px;
    height: 16px;
    min-width: 16px;
    mask-position: -240px -80px;
    background-color: #212121;
}

.icon-facebook-trans {
    width: 16px;
    height: 16px;
    min-width: 16px;
    mask-position: -240px -64px;
    background-color: #212121;
}

.icon-zalo {
    width: 16px;
    min-width: 16px;
    height: 16px;
    mask-position: -366px -140px;
    background-color: #212121;
}

.icon-otherlink-trans {
    mask-position: -255px -64px;
    width: 16px;
    height: 16px;
    min-width: 16px;
    background-color: #212121;
}

.icon-success {
    background-position: -109px -826px;
    width: 12px;
    height: 12px;
    transform: scale(1.7);
}

.icon-error {
    background-position: -145px -633px;
    width: 16px;
    height: 16px;
    transform: scale(1.5);
}

.icon-warning {
    background-position: -195px -635px;
    width: 15px;
    height: 13px;
    transform: scale(1.7);
}